.data>h1{
    text-align: center;
    font-size: 40px;
    font-family: serif;
    margin:auto;
    padding:25px;
}
#item_1{
    margin-left:100px;
    padding:25px;
    height:200px;
    width:900px;

}
#item_1>img{
    float:right;
    padding-bottom:16px;
}
#item_1>h2{
    padding:10px;
}
#item_1>p {
    padding: 21px;
}
#item_2 {
    margin-left: 100px;
    padding: 25px;
    height: 200px;
    width: 900px;

}

#item_2>img {
    float: right;
    padding-bottom: 4px;
    
}

#item_2>h2 {
    padding: 10px;
}
#item_2>p {
    padding: 21px;
}
#item_2n {
    margin-left: 100px;
    padding: 25px;
    height: 220px;
    width: 900px;

}

#item_2n>img {
    float: right;
    padding-bottom: 16px;
    height:280px;
    width:200px;

}

#item_2n>h2 {
    padding: 10px;
}

#item_2n>p {
    padding: 21px;
}
#main1{
    margin:auto;
    padding-top:30px;
    text-align: center;
    font-size: 40px;
    font-family: serif;
        

}
#item_3{
    
    padding:50px;
    display:flex;
    flex-direction: row;
    height: 200px;
     width: 280px;
     
     
     margin:auto;
    
}
#item_3 h2{
    padding:10px;
   
}
h1#main {
    padding: 10px;
    margin:10px;
    text-align: center;
    font-size: 40px;
    font-family: serif;
        

}

#item_3 p{
    
    padding:10px;
    font-weight: bold;
}
#fr{
    margin-top: 0;
    height:250px;
    width:350px;
    margin:5px;
}
#sn{
    margin-top: 0;
    height:250px;
    width:350px;
    margin:5px;

}
#thr{
    margin-top: 0;
    height: 250px;
        width: 350px;
        margin: 5px;

}



* {
    margin: 0;

}

ul {
    display: flex;
    flex-direction: row;
    background-color:seagreen;

    padding: 0;
    justify-content: flex-end;

    align-self: center;
    height: 60px;
    width: 1350px;
}

li {
    display: block;

    border: 2px solid rgb(235, 170, 114);
    border-radius: 10px;
    margin-right: 0;

    padding: 5px;
    margin: 15px;
    height: 20px;
    width: 75px;
    color: rgb(235, 170, 114);
    font-family: monospace;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;

}
#background{
    background-image: url(./cover3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:400px;
    width:1350px;
    border-top: 10px solid seagreen;
    position: relative;
    
    
}
#background input{
    font-family: cursive;
        color: black;
        padding: 10px;
        text-align: center;
        position: absolute;
        top: 220px;
        left: 570px;
        font-size: 18px;
    

}
#background h2{
    font-size: 40px;
    font-family: cursive;
    color:black;
    padding:10px;
    text-align: center;
    position:absolute;
    top:100px;
    left:450px;
    

}
#background p{
    text-align: center;
    color:black;
    padding:10px;
    font-family: cursive;
        color: black;
        padding: 20px;
        text-align: center;
        position: absolute;
        top: 150px;
        left: 420px;

}


.food {
    clear:right;
    margin-bottom: 0;
    margin-top: 0;
    background-color: seagreen;
    height: 370px;
    width: 1350px;
    border: 2px solid rgb(235, 170, 114);
    border-radius: 15px;
    display:flex;
    flex-direction: row;
     align-items: flex-start;
     justify-content: center;
    align-self: center; 
}
.khna{
    
    height:250px;
    width:180px;
    border: 2px solid rgb(235, 170, 114);
    
    background-color: white;
}
#nam {
    font-family: serif;
    font-size: 30px;
    font-weight: bold;
    color: black;
    text-align: center;
    padding:5px;
    margin:auto;
    text-align: center;
}

#frist{
    padding:5px;
    font-family: monospace;
    margin:auto;
    font-weight: bold;
}
#frist>h2{
    color:black;
    font-family: serif;
    font-size: 19px;
    text-align: left;
    font-weight: bold;
    padding:5px;

}
#frist>p{
    color:black;
    text-align: left;
}
#frist>img{
    height:100px;
    width:150px;
    padding:15px;
}
#price{
    font-weight: bold;
    color:black;
    text-align: center;
    
    height:20px;
    width:150px;
    background-color: yellow;
    margin-left:15px;
}
#snd{
    padding: 5px;
    font-family: monospace;
    margin: auto;
    font-weight: bold;

}
#snd>h2{
    color: black;
        font-family: serif;
        font-size: 19px;
        text-align: left;
        font-weight: bold;
        padding: 5px;
}
#snd>p{
    color: black;
        text-align: left;

}
#snd>img{
    height: 100px;
        width: 150px;
        padding: 15px;

}
#price1{
    font-weight: bold;
        color: black;
        text-align: center;
    
        height: 20px;
        width: 150px;
        background-color: yellow;
        margin-left: 15px;

}
#thrd{
    padding: 5px;
        font-family: monospace;
        margin: auto;
        font-weight: bold;

}
#thrd>h2{
    color: black;
        font-family: serif;
        font-size: 19px;
        text-align: left;
        font-weight: bold;
        padding: 5px;

}
#thrd>p{
    color: black;
        text-align: left;

}
#thrd>img{
    height: 100px;
        width: 150px;
        padding: 15px;

}
#price2{
    font-weight: bold;
        color: black;
        text-align: center;
    
        height: 20px;
        width: 150px;
        background-color: yellow;
        margin-left: 15px;

}

#frth {
    padding: 5px;
    font-family: monospace;
    margin: auto;
    font-weight: bold;

}

#frth>h2 {
    color: black;
    font-family: serif;
    font-size: 19px;
    text-align: left;
    font-weight: bold;
    padding: 5px;

}

#frth>p {
    color: black;
    text-align: left;

}

#frth>img {
    height: 100px;
    width: 150px;
    padding: 15px;

}

#price3 {
    font-weight: bold;
    color: black;
    text-align: center;

    height: 20px;
    width: 150px;
    background-color: yellow;
    margin-left: 15px;

}
#fifth {
    padding: 5px;
    font-family: monospace;
    margin: auto;
    font-weight: bold;

}

#fifth>h2 {
    color: black;
    font-family: serif;
    font-size: 19px;
    text-align: left;
    font-weight: bold;
    padding: 5px;

}

#fifth>p {
    color: black;
    text-align: left;

}

#fifth>img {
    height: 100px;
    width: 150px;
    padding: 15px;

}

#price4 {
    font-weight: bold;
    color: black;
    text-align: center;

    height: 20px;
    width: 150px;
    background-color: yellow;
    margin-left: 15px;

}
#contact{
    margin-top: 30px;
    height:300px;
    width:auto;
    background-color: seagreen;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: left;
    color:black;
    font-size: 17px;
}
#tel{
    height: 300px;
    
        width: 450px;
        border-right:2px solid rgb(235, 170, 114);
}

#tel>p{
    
    padding-top: 30px;
    font-family: monospace;
    text-align: left;
    
}
#tel a {

    padding-top: 40px;
    font-family: monospace;
    text-align: left;
}
#tel >h1 {

    font-family: monospace;
    text-align: left;
}
#mail{
    padding-top: 50px;
        font-family: monospace;
        text-align: left;
        height: 250px;
        border-right: 2px solid rgb(235, 170, 114);
        
        width:450px;

}
#social{
    padding-top: 50px;
        font-family: monospace;
        text-align: left;
        height: 250px;
        
        
        width:450px;

}
body{
    transition: all Is;
}
p:hover{
    transform: scale(1.050);
}
.data img:hover{
    transform: scale(1.1);
    
}
.food img:hover {
    transform: scale(1.1);

}
.khna:hover{
    transform: scale(1.1);
}
#item_3:hover{
    transform:scale(1.1)
}
h1:hover{
    transform: scale(1.070);
}
h2:hover {
    transform: scale(1.070);
}
h3:hover {
    transform: scale(1.070);
}
ul:hover {
    transform: scale(1.070);
}
li:hover {
    transform: scale(1.070);
    
}

